{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}


<section>
    {% block content %}
        <div id="carouselExampleIndicators" class="carousel slide d-none d-sm-block" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner shadow">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ MEDIA_URL }}/guitar-banner.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-sm-block">
                        <h1 class="text-shadow display-4 logo-font carousel-text">
                            Gibson Hollowbody guitars are here!
                        </h1>
                        <h4 class="">
                            <a href="{% url 'products' %}?category=electric_guitar" class="btn-main btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ MEDIA_URL }}/studio-gear-banner.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-sm-block">
                        <h1 class="text-shadow display-4 logo-font carousel-text">
                            Studio Bundles in stock!
                        </h1>
                        <h4 class="">
                            <a href="{% url 'products' %}?category=bundles" class="btn-main btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ MEDIA_URL }}/drums-banner.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-sm-block">
                        <h1 class="text-shadow display-4 logo-font carousel-text">
                            Full Pearl kit with cymbals available
                        </h1>
                        <h4 class="">
                            <a href="{% url 'products' %}?category=full_kits" class="btn-main btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>


        <section class="index-container py-5 roboto">
            <div class="container">
                <div class="row">
                    <div class="col card py-3 shadow nav-text index-card">
                        <h2 class="sub-brand-font mb-4">Welcome!</h2>
                        <p>
                            Hi there! We're Sound Emporium. Your new favourite destination for great deals on a host of musical instruments! We pride ourselves on a wide range of products, fantastic customer service, and a genuine love for music. 
                        </p>
                        <p>
                            Allow us to give you the tour:
                            <ul class="index-links">
                                <li>Click <a href="{% url 'account_signup' %}">here</a> to join the gang and open up your free account! Use this to leave user reviews of products and join the discussion by dropping a comment on the Blog posts!</li>
                                <li>Speaking of Blog posts, head <a href="{% url 'blog' %}">here</a> to read the latest posts</li>
                                <li>Already a member? Click <a href="{% url 'account_login' %}">here</a> to login and get browsing.</li>
                                <li>Looking for an exclusive product or maybe a bargain? Click <a href="{% url 'products' %}?category=new_arrivals,bundles,clearance">here</a> to check out all our Clearance, Bundle and New Arrivals!</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
</section>
