{% extends "base.html" %}
{% load static %}


{% block content %}
    
<div class="container section-top">
	<div class="row">
		<div class="col">
            <h2 class="logo-font my-4">Add a New Blog</h2>
            <hr>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form method="POST" action="{% url 'add_blog' %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
				<div class="mt-4">
                    {{ blog_form | crispy }}
                    {{ blog_image_form | crispy }}
                </div>
				<div>
					<a class="btn btn-black" href="{% url 'blog' %}">Cancel</a>
					<button class="btn btn-main" type="submit" aria-label="Add Product Button">Add a New Blog</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}