{% extends "base.html" %}
{% load static %}


{% block content %}
    
<div class="container section-top">
	<div class="row">
		<div class="col">
			<h2 class="logo-font my-4">Edit Blog</h2>
        </div>
        <hr>
	</div>
	<div class="row">
		<div class="col">
			<form method="POST" action="{% url 'edit_blog' blog_post.pk %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
				<div class="mt-4">
                    {{ blog_form | crispy }}
                    {{ blog_image_form | crispy }}
                </div>
				<div>
					<a class="btn btn-black" href="{% url 'blog' %}">Cancel</a>
					<button class="btn btn-main" type="submit" aria-label="Add Product Button">Update Blog</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}