{% extends "base.html" %} {% load static %} {% block content %}

<div class="container section-top">
	<div class="row">
		<div class="col-12 text-center">
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'blog' %}">Blogs</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{ blog_post.title }}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
            <img src="{{ blog_image.image.url }}" class="blog_post_img " alt="blog post header image:{{ blog_image.image.name }}">
            
            <div class="mb-4 mt-4">
                <div class="mb-4 mt-4">
                    <h1 class="card-title logo-font">{{ blog_post.title }}</h1>
                    <span class="card-text text-muted mt-2">
                        <small>
                        {{ blog_post.author }} | {{ blog_post.created_on }}
                        </small>
                    </span>
                    {% if request.user.is_superuser %}
                        <span class="ml-2">
                            <a href="{% url 'edit_blog' blog_post.pk %}" class="blog_edit">Edit</a> | 
                            <a href="{% url 'delete_blog' blog_post.pk %}" class="blog_delete">Delete</a>
                        </span>
                    {% endif %}
                </div>
                <div class="mt-2">
                    <div class="card-text">{{ blog_post.content|linebreaks }}</div>
                </div>
                <hr>
                <div class="card p-5 blog-comment-section shadow">
                    <div class="mb-3">
                        {% if not blog_post.comments.all %}
                            <h3>No Comments yet for this post.</h3>
                        {% else %}
                            <h4>{{ blog_post.comments.count }} Comment(/s)</h4>
                            {% for comment in blog_post.comments.all %}
                                <div class="card shadow p-3 users-comment mt-2">
                                    <div>
                                        <h4 class="logo-font text-white comment-name">{{ comment.comment_title }}</h4>
                                    </div>
                                    <div class="blog-comment mb-2">
                                        <span class="comment-line"></span>
                                        <h4>"{{ comment.blog_comment }}"</h4>
                                        <div class="comment-date text-white"><small>{{ comment.created_on }}</small></div>
                                    </div>
                                    <div>
                                        {% if user.is_authenticated %}
                                            {% if user.name == comment.user_id %}
                                                <a href="{% url 'delete_comment' comment.pk %}" class="product_delete">Delete Comment</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                    {% if user.is_authenticated %}
                        <div class="blog-comment-form">
                            <form method="POST" action="{% url 'post_view' blog_post.slug %}">
                                {% csrf_token %}
                                {{ comment_form|crispy }}
                                <button class="btn btn-black rounded-0 text-uppercase" action="submit" aria-label="Blog Comment Submit Button">Submit Comment</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="mt-4">
                            <p>To leave a comment, please 
                                <a href="{% url 'account_login' %}">log in.</a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}